@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* transition: all 1s ease-in-out; */

}

body{
    height: 100vh;
    width: 100vw;
    background:  rgba(0, 0, 0, 0.6)url(../assets/bgImg.png);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.listItems{
    display: flex;
    align-items: center;
    gap: 50px;
    /* transition: all 1s ease-in-out; */
}

li{
    list-style: none;
    cursor: pointer;
}

.listItems li a{
    transition: all 0.3s ease-in-out;
}

.listItems li a:hover{
    color: white;
}

a{
    text-decoration: none;
    color: #ffb700;
    font-size: 20px;
}

.orderBtn button{
    background: #ff355e;
    color: white;
    border: none;
    outline: none;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.orderBtn button:hover{
    background: white;
    color: #ff355e;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heading h1{
    font-size: 78px;
    letter-spacing: 5px;
    word-spacing: 10px;
    color: #ffb700;
    font-family: 'Lilita One', cursive;
}

.section-btn button{
    background: #ff355e;
    font-size: 25px;
    font-weight: 700;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    justify-self: end;
    transition: all 0.3s ease-in-out;
}

.section-btn button:hover{
    background: white;
    color: #ff355e;
    cursor: pointer;
}

footer .scroll-logo img{
    width: 100px;
    margin: 0 20px 20px 0;
    float: right;
}

